 <footer>
    <div class="container-fluid footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-section">
              <div>
                <img src="static/Images/22656660-01-02.jpg" alt="logo" height="120px" width="120px" />
              </div>
              <div>
                <p class="footer-para">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Recusandae voluptatibus quo dicta maiores id deleniti optio
                  dolorum!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-section">
              <h3 class="heading">Links</h3>
              <a href="">Home</a>
              <a href="">About us</a>
              <a href="">Contact us</a>
              <a href="">Category</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-section">
              <h3 class="heading">Contact us</h3>
              <a href=""><span>
                  <i class="fa-solid fa-location-dot icon"></i>Pokhara
                  Nepal</span></a>
              <a href="">
                <span><i class="fa-solid fa-envelope icon"></i>info@kitabghar.com</span></a>
              <a href=""><span><i class="fab fa-facebook-f icon"></i>Facebook</span></a>
              <a href=""><span><i class="fab fa-instagram icon"></i>Instagram</span></a>

              <a href=""><span> <i class="fa-solid fa-phone"></i> 9865358249</span></a>
            </div>
          </div>
        </div>
        <div>
          <hr />
          <p class="text-center">
            Copyright 2023 &nbsp;<i class="fa-sharp fa-regular fa-copyright"></i>
            &nbsp; Kitab Ghar. All Right Reserved
          </p>
        </div>
      </div>
    </div>
  </footer>