{% load static %}

<header class="position-sticky top-0">
    <div class="navbar-light bg-white navigation">
      <nav class="container navbar navbar-expand-lg navbar-light bg-seconday">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'baseapp/Images/logo(2).png' %}" alt="" height="70" width="120" /></a>
          <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item navitem">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item navitem">
                <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
              </li>
              <li class="nav-item navitem">
                <a class="nav-link" href="#">Contact Us</a>
              </li>

              <li class="nav-item dropdown navitem">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Category
                </a>
                <ul class="dropdown-menu bg-white border- rounded-1" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="#">Computer science</a>
                  </li>
                  <li><a class="dropdown-item" href="#">+2 Science</a></li>

                  <li><a class="dropdown-item" href="#">Literature</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Computer science</a>
                  </li>
                  <li><a class="dropdown-item" href="#">+2 Science</a></li>

                  <li><a class="dropdown-item" href="#">Literature</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
              {% comment %} <button class="btn btn-outline-white search" type="submit">
                Search
              </button> {% endcomment %}
            </form>
            <div>
            {% if request.user.is_authenticated %}
      
              <a href="">
                <div class="user-image m-1 dropdown ">
                  <!-- <img src="{% static 'baseapp/Images/himal.jpg' %}"> -->
                    <a class="" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <img src="{{ userdata.Profile_photo.url }}" > 
                    </a>
                    <ul class="dropdown-menu bg-white border- rounded-1" aria-labelledby="navbarDropdown">
                      <li>
                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                      </li>
                      <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                   
              </div>
              </a>
              <a href="{% url 'bookinfo' %}"><i class="fa-solid fa-circle-plus text-black fs-4 m-1"></i></a>
              <a href="#"><i class="fa-solid fa-bell text-black m-1 fs-4"></i></a>
             
            {% else %}

              <a href="{% url 'login' %}"><button class="btn btn-outline-white m-2 login" type="submit">
                Login/SignUp
              </button></a>
            {% endif %}
              <div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
 