{% extends 'baseapp/base.html' %}
{% block content%}


<section class="bg-black">
    <div class="container">
        <div class="slider-wrapper">
            <div class="slider-row">
                <div class="col1 col-lg-6">
                    <div class="contain">
                        <h2 class="fw-bold">Kitab Ghar</h2>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, odio officia autem fuga exercitationem animi, ratione dolor, vel blanditiis necessitatibus doloremque cumque obcaecati minima! Perferendis, debitis eius! Dolor quis omnis consequuntur et iste cum tempore similique, vitae ipsum laboriosam amet nulla accusamus! Voluptatem accusantium, corporis voluptatum quos adipisci quibusdam eaque.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptatem eum officiis reprehenderit voluptate quas, iure maxime fugit hic ipsam consequuntur, quaerat explicabo, repellendus sunt magni odit natus. Amet, ea.
                        </p>
                    </div>
                </div>
                <div class="col2 col-lg-6">
                    <div class="contain">
                        <h3>Which books are you looking for?</h3>
                        <hr>
                        
                        <form action="{% url 'searchapp:search-result' %}" method="GET"> 
                            {{ form.as_p}}
                            {% csrf_token %}
                            <input type="submit">
                        </form> 
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Letest Books -->
{% for filter_books in filter_books %}
<section class="latest-books">
    {% comment %} <div class="container">
        <div class="row">
            
            <div class="see-all">
                <h2 class="m-0">Latest Books</h2>
                <button type="button" class="btn more-books " id='see-button'>See All</button>
            </div>
            <div class="underline"></div>
            {% for book in data %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-5 card-col ">
              <a a href="{% url 'book_detail' book.id %}"> 
                 <div class="card shadow-lg book-item h-100" > 
                        <img src="{{ book.image.url }}" class="card-img-top fixed-image " alt="..." />


                    <div class="card-body text-center  ">
                        <span class="category px-4">{{ book.category}}</span>
                        <p class="fw-bold my-0 py-1">{{book.title}}</p>
                        <p class="my-0 py-1">{{book.original_price}}</p>
                        <p class=" ">{{book.selling_price}}<span>(Fixed/Negotiable)</span></p>
                        <p>
                            <i class="fa-sharp fa-solid fa-location-dot px-2"></i>Location
                        </p>
                    </div>
                </a>
                </div>
            </div>
            {% endfor %} {% endcomment %}
            {% for book in filter_books %}
            <div class="container">
                <div class="row">
                    
                    <div class="see-all">
                        <h2 class="m-0">{{book.category}}</h2>
                       <a href="{% url 'books' book.category %}"> <button type="button" class="btn more-books " id='see-button'>See All</button></a>
                    </div>
                    <div class="underline"></div>
                   
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-5 card-col ">
                      <a  href="{% url 'book_detail' book.id %}"> 
                         <div class="card shadow-lg book-item h-100" > 
                                <img src="{{ book.image.url }}" class="card-img-top fixed-image " alt="..." />
        
        
                            <div class="card-body text-center  ">
                                <span class="category px-4">{{ book.category}}</span>
                                <p class="fw-bold my-0 py-1">{{book.title}}</p>
                                <p class="my-0 py-1">{{book.original_price}}</p>
                                <p class=" ">{{book.selling_price}}<span>(Fixed/Negotiable)</span></p>
                                <p>
                                    <i class="fa-sharp fa-solid fa-location-dot px-2"></i>Location
                                </p>
                            </div>
                        </a>
                        </div>
                    </div>
                    {% endfor %}
                   

           
</section> 
{% endfor %}
</div>

{% endblock content%}
