
{% extends 'baseapp/base.html' %}
{% block content%}

<div class="container my-5">
        <div class="row">
            <div class="grid col-md-4 px-4 py-4 border border-r">
                <h3 class=" text-center">Login Form</h3>
                <form action="" class="mt-3 px-5 r" method="post"> 
                    {% csrf_token %}
                    {% if loginform.non_field_errors %}
                    {% for error in loginform.non_field_errors %}
                    <P> {{error}}</P>
                    {% endfor %}
                    {% endif %}
                    {% for fm in loginform %}
                    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
                    <br><br>
                    {% endfor %}
                    {% comment %} {{ loginform.as_p }} {% endcomment %}
                    
                   <div class="text-center">
                    <div class="col-12"><input type="submit" value="Login" class="btn-sm btn w-50 btn-primary"></div>
                     <span><a href="{% url 'password_reset' %}" class="" style="text-decoration: none;">forget password?</a></span>
                    <hr>
                    <div> <span>Don't have an account?&nbsp;<a href="{% url 'signup' %}" style="text-decoration: none;">Sign up</a></span></div>
                   </div>
                </form> 
            </div>
        </div>

 
{% if messages %}
{% for message in messages %}
<small {% if message.tags%} class="{{message.tags}}" {% endif %}>  {{message}} </small>
{% endfor %}
{% endif %}
</div>
{% endblock content %}


 