{% extends 'baseapp/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'bookinfo/css/book_view.css' %}" />
<link rel="stylesheet" href="{% static 'bookinfo/css/popup.css' %}">
{% endblock %}
{% block content%}

<body>
  <section>
    <div class="container">
      <div class="wrapper shadow shadow-5">
        <div class="row d-flex align-items-center">
          <div class="photo-container col-lg-3 col-md-3">
            {% for seller in seller %}
            <div class="user-photo ">

              <img src="{{ seller.Profile_photo.url }}" alt=" " id="user-pic">
               
            </div>
            {% endfor %}

          </div>
          {% for seller in seller %}
          <div class="b-description col-lg-6 col-md-6  px-2">
            <div class="contain">
              <p id="book-price" class="text-success">Rs <span id="price">{{data.selling_price}}</span>( <span
                  id="fixed-negotaible">Fixed)</span> </p>

              <h3 id="b-name" class="">{{data.title}}</h3>
              <p id="category">{{data.category}}</p>
              <p> <span class="text-success">By</span> {{seller.Name}}| <span id="posted-date" lass="text-success">
                  posted</span> {{data.added_date}}</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3   px-2 contact-links d-flex justify-content-center ">
            <div class="contain  text-center contact-links-inner w-100">
              <button type="button" class="btn py-2 email w-100"><i class="fa-solid fa-envelope px-1"></i>EMAIL</button>
              <button type="button" class="btn contact my-1 py-2 w-100"><i
                  class="fa-solid fa-mobile-screen-button px-1"></i>{{ seller.Phone_Number}}
              </button>

            </div>
          </div>
        </div>
      </div>

      <div class="book-description py-5 shadow shadow-2">
        <div class="row">
          <div class="photo-wrapper  col-lg-6 col-md-6">
            <div class="col-book-photo ">
              <img src="{{data.image.url}}" alt="">
            </div>
          </div>

          <div class="description col-lg-6 col-md-6">
            <h5 class="text-center "><b>Description</b></h5>
            <div class="description-wrapper">
              <div class="px-1">
                <p><b>Price: </b><span id="price">{{data.selling_price}}</span></p>
                <p><b>Condition:</b> <span id="{{data.condition}}">{{data.condition}}</span></p>
                <p><b>Location:</b> <span id="location">{{seller.Address}}</span></p>
                <span  id ="book-id" attr={{data.id}}></span>
              </div>
              <div class="px-1">
                <p><b>Date: </b><span id="date">{{data.added_date}}</span></p>
                <p><b>Original Price:</b> <span id="original_price">{{data.original_price}}</span></p>

              </div>
              <div class="px-5" id="map" style="height: 500px;width: 500px;"></div>

              <script>
                var map = L.map('map').setView([28.26689, 83.96851], 13);
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  maxZoom: 19,
                  attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);
                var lat = {{ data.latitude }}
                var lng = {{ data.longitude }}
                var marker = new L.marker([lat, lng]).addTo(map);
              </script>

            </div>
            <button type="button" class="btn contact  my-1 py-2 px-3 " id="buy">Buy </button>
          </div>
          {% endfor %}
        </div>

      </div>

    </div>

  </section>

  <!-- popup section -->
  <section>

    <div class="popup-wrapper">
      <div class="popup">
        <div class="close fw-bold fs-4">
          x
        </div>
        <div class="popup-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptates magni doloribus adipisci earum,
          facilis odio officiis voluptatem delectus illum, inventore qui eum consequatur, incidunt a atqu
            <input type="checkbox" id="checkbox">
            <label for="checkbox">I agree to the terms and cot</label>
            <button class="submit-btn rounded-3" disabled
            >Submit</button>
        </div>
      </div>
    </div>
  </section>


  {% endblock content %}
  {% block javascript %}
  <script src="{% static 'bookinfo/js/book_view.js' %}"></script>
  {% endblock %}















</body>

</html>