
{% extends 'baseapp/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'bookinfo/css/book_view.css' %}" />
{% endblock %}
{% block content%}
<body>
    <section>
        <div class="container">
            <div class="wrapper shadow shadow-5">
                <div class="row d-flex align-items-center">
                    <div class="photo-container col-lg-3 col-md-3">
                        <div class="user-photo ">

                            <img src="static/Images/head.avif" alt=" " id="user-pic">
                            <!-- <i class="fa-solid fa-circle-user "></i> -->
                        </div>

                    </div>
                    <div class="b-description col-lg-6 col-md-6  px-2">
                        <div class="contain">
                            <p id="book-price" class="text-success">Rs <span id="price">{{data.selling_price}}</span>( <span
                                    id="fixed-negotaible">Fixed)</span> </p>

                            <h3 id="b-name" class="">{{data.title}}</h3>
                            <p id="category">{{data.category}}</p>
                            <p> <span class="text-success">By</span> {{data.seller}}| <span id="posted-date"
                                    lass="text-success"> posted</span> {{data.added_date}}</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3   px-2 contact-links d-flex justify-content-center ">
                        <div class="contain  text-center contact-links-inner w-50">
                            <button type="button" class="btn py-2 email"><i
                                    class="fa-solid fa-envelope px-1"></i>EMAIL</button>
                            <button type="button" class="btn contact  my-1 py-2"><i
                                    class="fa-solid fa-mobile-screen-button px-1"></i>CONTACT</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="book-description py-5 shadow shadow-2">
                <div class="row">
                    <div class="photo-wrapper  col-lg-6 col-md-6">
                        <div class="col-book-photo ">
                            <img src="{{data.image.url}}" alt="">
                        </div>
                    </div>

                    <div class="description col-lg-6 col-md-6 ">
                        <h5 class="text-center "><b>Description</b></h5>
                        <div class="description-wrapper">
                            <div>
                                <p><b>Price: </b><span id="price">{{data.selling_price}}</span></p>
                                <p><b>Condition:</b> <span id="{{data.condition}}">{{data.condition}}</span></p>
                                <p><b>Location:</b> <span id="location">Pokhara Nepal</span></p>
                            </div>
                            <div>
                                <p><b>Date: </b><span id="date">{{data.added_date}}</span></p>
                                <p><b>Original Price:</b> <span id="original_price">{{data.original_price}}</span></p>

                            </div>
                            <div id="map" style="height: 500px;width: 500px;"></div>
                            
                          <script>
                           var map = L.map('map').setView([28.26689, 83.96851], 13);
                           L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                              maxZoom : 19,
                             attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                             }).addTo(map);
                             var lat = {{data.latitude}}
                             var lng ={{data.longitude}}
                            var marker = new L.marker([lat, lng]).addTo(map);
                          </script>
                        
                        </div>
                        
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- Simila Books Section -->
    <section class="novels">
        <div class="container">
          <div class="row">
            <div class="see-all">
              <h2 class="m-0">Novels and More</h2>
              <button type="button" class="btn more-books">See All</button>
            </div>
            <div class="underline"></div>
    
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-5 card-col">
              <div class="card shadow-lg ">
                <img src="static/Images/books-2.png" class="card-img-top" alt="..." />
                <div class="card-body text-center">
                  <span class="category px-4">Category</span>
                  <p class="fw-bold my-0 py-1">Book Name:</p>
                  <p class="my-0 py-1">Original price:</p>
                  <p class=" ">selling price:<span>(Fixed/Negotiable)</span></p>
                  <p>
                    <i class="fa-sharp fa-solid fa-location-dot px-2"></i>Location
                  </p>
                </div>
              </div>
            </div>
    
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-5 card-col">
              <div class="card shadow-lg">
                <img src="static/Images/books-2.png" class="card-img-top" alt="..." />
                <div class="card-body text-center">
                  <span class="category px-4">Category</span>
                  <p class="fw-bold my-0 py-1">Book Name:</p>
                  <p class="my-0 py-1">Original price:</p>
                  <p class=" ">selling price:<span>(Fixed/Negotiable)</span></p>
                  <p>
                    <i class="fa-sharp fa-solid fa-location-dot px-2"></i>Location
                  </p>
                </div>
              </div>
            </div>
    
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-5 card-col">
              <div class="card shadow-lg">
                <img src="static/Images/books-2.png" class="card-img-top" alt="..." />
                <div class="card-body text-center">
                  <span class="category px-4">Category</span>
                  <p class="fw-bold my-0 py-1">Book Name:</p>
                  <p class="my-0 py-1">Original price:</p>
                  <p class=" ">selling price:<span>(Fixed/Negotiable)</span></p>
                  <p>
                    <i class="fa-sharp fa-solid fa-location-dot px-2"></i>Location
                  </p>
                </div>
              </div>
            </div>
    
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-5 card-col">
              <div class="card shadow-lg">
                <img src="static/Images/books-2.png" class="card-img-top" alt="..." />
                <div class="card-body text-center">
                  <span class="category px-4">Category</span>
                  <p class="fw-bold my-0 py-1">Book Name:</p>
                  <p class="my-0 py-1">Original price:</p>
                  <p class=" ">selling price:<span>(Fixed/Negotiable)</span></p>
                  <p>
                    <i class="fa-sharp fa-solid fa-location-dot px-2"></i>Location
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% comment %} <!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buy Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="static/css/book-view.css">
</head> {% endcomment %}
      {% endblock content %}



























    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>