<header class="position-sticky top-0">
    <div class="navbar-light bg-white navigation">
      <nav class="container navbar navbar-expand-lg navbar-light bg-seconday">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="static/Images/logo(2).png" alt="" height="70" width="120" /></a>
          <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item navitem">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item navitem">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item navitem">
                <a class="nav-link" href="#">Contact Us</a>
              </li>

              <li class="nav-item dropdown navitem">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Category
                </a>
                <ul class="dropdown-menu bg-white border- rounded-1" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="#">Computer science</a>
                  </li>
                  <li><a class="dropdown-item" href="#">+2 Science</a></li>

                  <li><a class="dropdown-item" href="#">Literature</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Computer science</a>
                  </li>
                  <li><a class="dropdown-item" href="#">+2 Science</a></li>

                  <li><a class="dropdown-item" href="#">Literature</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
              <button class="btn btn-outline-white search" type="submit">
                Search
              </button>
            </form>
            <div>
              <button class="btn btn-outline-white m-2 login" type="submit">
                Login/SignUp
              </button>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>