
{% extends 'baseapp/base.html' %}
{% block content%}
<h3>Login Form</h3>
<hr>

<div class="container mx-15">
    <form action="" method="post" novalidate> 
        {% csrf_token %}
        {% if loginform.non_field_errors %}
        {% for error in loginform.non_field_errors %}
        <P> {{error}}</P>
        {% endfor %}
        {% endif %}
        {% for fm in loginform %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
        <br><br>
        {% endfor %}
        {% comment %} {{ signupform.as_p }} {% endcomment %}
        <input type="submit">
    </form> 

<a href="{% url 'signup' %}"> Signup </a>
{% if messages %}
{% for message in messages %}
<small {% if message.tags%} class="{{message.tags}}" {% endif %}>  {{message}} </small>
{% endfor %}
{% endif %}
</div>
{% endblock content %}


