{% extends 'baseapp/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'userapp/css/profile.css' %}" />
{% endblock %}
{% block content %}

  <!-- <img src="static/Images/avatar.png"> -->
  <section class="profile">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 user-details"  >
          <div class=" user-photo-container bg-white text-dark shadow shadow-2" >
            <div class="user-photo  ">
              {% if user %}
               {% for user in user %}
                <img src="{{ user.Profile_photo.url }}"  alt="">
                {% endfor %}
                 {% else %}
                 <i class="fa-solid fa-circle-user fs-4 "></i>
                
              {% endif %}
            </div> 
              {% if user %}
             {% for user in user %}
            
              <h4 id="person-name" class="m-0 py-1 px-3 text-center ">{{ user.Name }} </h4>
             
                <p class="px-3 m-0 text-center edit-profile"><i class="fa-solid fa-pen-to-square icon"></i>edit profile</p>
              
              <p class="px-3 m-0 py-1"><i class="fa-solid fa-envelope icon"></i>{{ email }}</p>
              <p class="px-3 m-0 py-1 "><i class="fa-solid fa-phone icon"></i> <span>{{ user.Phone_Number }}</span> </p>
              {% endfor %} 
              {% else %}
              <h4 id="person-name" class="m-0 py-1 px-3 text-center ">Your Name </h4>
             
                <p class="px-3 m-0 text-center edit-profile"><i class="fa-solid fa-pen-to-square icon"></i>edit profile</p>
              
              <p class="px-3 m-0 py-1"><i class="fa-solid fa-envelope icon"></i>{{ email }}</p>
              <p class="px-3 m-0 py-1 "><i class="fa-solid fa-phone icon"></i> <span>98********</span> </p>
              {% endif%}
            
          </div>
        </div>
     
      

       
        <div class="col-lg-6 col-12 book-status text-center ">
          <div class="sold-books w-50 py-4 fs-4 rounded-4 shadow shadow-5" id="sold-books">
            <p id="sold" class="fw-bold">0</p>
            <h4>SOLD BOOKS</h4>
          </div>

          <div class="active-books  w-50 py-4 rounded-4 shadow shadow-5" id="active-books">
            <p id="sold" class="fw-bold fs-4">0</p>
            <h4>ACTIVE BOOKS</h4>
          </div>
          <div class="booked-books w-50 py-4 rounded-4 shadow shadow-5" id="booked-books">
            <p id="sold" class="fw-bold fs-4">0</p>
            <h4>BOOKED BOOK</h4>
          </div>
        </div>
      </div>
       
       <div class="form-container" id="edit-form-container">
         <div class="row">
          <div class="col-md-6">
            <form action="" method="post">
              {% csrf_token %}
             {{ userform.as_p }}
             <h1>My Map</h1>
             <div id="map" class="my-1"></div>
             
             <input type="submit" value="submit" class="btn btn-success my-1 submitbutton " pid="{{request.user.id}}" >
           </form>
           </div>
          </div>
         </div>
       </div>

       {% comment %} code for the active book {% endcomment %}
       <div class="container" id="active-books-container">
        {%if activebooks %}
        {%for activebooks in activebooks%}
        
          <div class="row">
       <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-5 card-col" >
           <div class="card shadow-lg book-item h-100" > 
                  <img src="{{ activebooks.image.url }}" class="card-img-top fixed-image " alt="..." />
              <div class="card-body text-center  ">
                  <span class="category px-4">{{activebooks.category}}</span>
                  <p class="fw-bold my-0 py-1">{{activebooks.title}}</p>
              </div>
              <button type="button" class="btn more-books " id='edit-books'>Edit</button>
          
          </div>
          </div>
        </div>
      
          {%endfor%}
          {%endif%}
        </div>
       
  </section>



   {%  if user %}
   {% for user in user %} 
      <script>
  
     document.getElementById("id_Name").value = "{{ user.Name }}"
     document.getElementById("id_Phone_Number").value = {{ user.Phone_Number }}
     document.getElementById("id_Address").value = "{{ user.Address }}"
     document.getElementById("id_User").value = "{{ request.user }}"
     document.getElementById("id_Profile_photo").value = "{{ user.Profile_photo }}" 
     document.getElementById("id_latitude").value = {{ user.latitude }}
     document.getElementById("id_longitude").value = {{user.longitude}}
      {% comment %} document.getElementById("id_Register_date").value = {{ user.Register_date}}       {% endcomment %}
     </script>
     {% endfor %}
     {% endif %}

  {% endblock content %}

 