{% extends 'baseapp/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'userapp/css/profile.css' %}" />
<link rel="stylesheet" href="{% static 'bookinfo/css/popup.css' %}" />
<link rel="stylesheet" href="{% static 'userapp/css/table.css' %}" />
<link rel="stylesheet" href="{% static 'chatapp/css/chatapp.css' %}" />

{% endblock %}
{% block content %}

  <!-- <img src="static/Images/avatar.png"> -->
  <section class="profile">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 user-details"  >
          <div class=" user-photo-container bg-white text-dark shadow shadow-2" >
            <div class="user-photo  ">
              {% if userdata %}
               {% for userdata in userdata %}
                <img src="{{ userdata.Profile_photo.url }}"  alt="" >
                <div class="edit-button " id="upload-button">
                  <i class="fa fa-camera"></i> 
              </div>
                {% endfor %}
                 {% else %}
                 {% comment %} <i class="fa-solid fa-circle-user fs-4 "></i> {% endcomment %}
                 <img src="{% static 'userapp/Images/user_icon.png'%}"  alt="" >
                <div class="edit-button " id="upload-button">
                  <i class="fa fa-camera"></i> 
                </div>
                
              {% endif %}
            </div> 
              {% if userdata %}
             {% for userdata in userdata %}
            
              <h4 id="person-name" class="m-0 py-1 px-3 text-center ">{{ userdata.Name }} </h4>
              <input type="file" id="image-input">
              {% comment %} <button id="upload-button">Upload Image</button> {% endcomment %}
                <p class="px-3 m-0 text-center edit-profile"><i class="fa-solid fa-pen-to-square icon"></i>edit profile</p>
              
              <p class="px-3 m-0 py-1"><i class="fa-solid fa-envelope icon"></i>{{ email }}</p>
              <p class="px-3 m-0 py-1 "><i class="fa-solid fa-phone icon"></i> <span>{{ userdata.Phone_Number }}</span> </p>
              {% endfor %} 
              {% else %}
              <h4 id="person-name" class="m-0 py-1 px-3 text-center ">Your Name </h4>
             
                <p class="px-3 m-0 text-center edit-profile"><i class="fa-solid fa-pen-to-square icon"></i>edit profile</p>
              
              <p class="px-3 m-0 py-1"><i class="fa-solid fa-envelope icon"></i>{{ email }}</p>
              <p class="px-3 m-0 py-1 "><i class="fa-solid fa-phone icon"></i> <span>98********</span> </p>
              {% endif%}
            
          </div>
        </div>
     
      

       
        <div class="col-lg-6 col-12 book-status text-center ">
          <div class="sold-books w-50 py-4 fs-4 rounded-4 shadow shadow-5" id="sold-books">
            <p id="sold_books" class="fw-bold">{{soldbooks_count}}</p>
            <h4>SOLD BOOKS</h4>
          </div>

          <div class="active-books  w-50 py-4 rounded-4 shadow shadow-5" id="active-books">
            <p id="active_books" class="fw-bold fs-4">{{activebooks_count}}</p>
            <h4>ACTIVE BOOKS</h4>
          </div>
          <div class="booked-books w-50 py-4 rounded-4 shadow shadow-5" id="booked-books">
            <p id="booked_books" class="fw-bold fs-4">{{bookedbooks_count}}</p>
            <h4>BOOKED BOOK</h4>
          </div>
        </div>
      </div>
       
       <div class="form-container mx-3" id="edit-form-container">
         <div class="row">
          <div class="col-md-6">
            <form action="" method="post">
              {% csrf_token %}
              {{ userform.Name.label_tag }}<p class='my-2'></p> {{ userform.Name }}<p class='my-2'></p>
              {{ userform.Phone_Number.label_tag }}<p class='my-2'></p> {{ userform.Phone_Number }}<p class='my-2'></p>
              {{ userform.latitude.label_tag }}<p class='my-2'></p> {{ userform.latitude }}<p class='my-2' disabled ></p>
              {{ userform.longitude.label_tag }}<p class='my-2'></p> {{ userform.longitude }}<p class='my-2'></p>
              {{ userform.Address.label_tag }}<p class='my-2'></p> {{ userform.Address }}<p class='my-2'></p>
             <h1>Please select the appropriate location on the map</h1>
             <div id="profile-map" class="my-1" ></div>
             <input type="button" value="Save change" class="btn btn-success my-1 save-change-button " > 
           </form>
           </div>
          </div>
         </div>
     




       <div class="form-container" id="book-form-container">
        <div class="row ">
         <div class=" col-md-6 pt-4 mt-5 px-5">
           <form action="" method="post">
             {% csrf_token %}
             {{ bookform.title.label_tag }}<p class='my-2'></p> {{ bookform.title }}<p class='my-2'></p>
             {{ bookform.description.label_tag }}<p class='my-2'></p> {{ bookform.description }} <p class='my-2'><p>
             {{ bookform.category.label_tag }}<p class='my-2'></p> {{ bookform.category }} <p class='my-2'></p>
             {{ bookform.original_price.label_tag }}<p class='my-2'></p> {{ bookform.original_price }} <p class='my-2'></p>
             {{ bookform.selling_price.label_tag }} <p class='my-2'></p>{{ bookform.selling_price }} <p class='my-2'></p>
             <!-- Display the uploaded image -->
             {{ bookform.image.label_tag }}<p class='my-2'></p>  {{ bookform.image }} <p class='my-2'></p>
             <img id="image-preview" src="" alt="Image Preview" width="100"><p class='my-2'></p>
            <input type="submit" value="submit" class="btn btn-success my-2 submitbutton " > 
          </form>
          </div>
          <div class="col-md-6  px-3">
            {{ bookform.condition.label_tag }}<p class='my-2' ></p> {{ bookform.condition }} <p class='my-2'></p>
            {{ bookform.latitude.label_tag }} <p class='my-2'></p>{{ bookform.latitude }} <p class='my-2'></p>
            {{ bookform.longitude.label_tag }}<p class='my-2'></p> {{ bookform.longitude }} <p class='my-2'></p>
            <h3> select  your location</h3>
            <div id="book-map" style="height: 400px;width: 500px;"></div>
          </div>
         </div>
        </div>
      </div>


      {% comment %} code for the active book {% endcomment %}
      <div id="whole-active-books-container" class="container">
      <section>
       <div class="container py-3" id="active-books-container" >
       <table id="active-book-table" class="py-3 data-table">
         <thead>
          <tr>
            <th>Title</th>
            <th>Posted date</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
         </thead>
         <tbody></tbody>
       </table>
        </div>
      </section>


     {% comment %} code for the pending books  {% endcomment %}
     <section>
      <div class="container py-3" id="pending-books-container" >
        <table id="pending-book-table" class="py-3 data-table">
          <thead>
           <tr>
             <th>Title</th>
             <th>Posted date</th>
             <th>Price</th>
             <th>Buyer Name</th>
             <th>Change Status</th>
             <th>Contact Buyer</th>
           </tr>
          </thead>
          <tbody></tbody>
        </table>
         </div>
  </section>
</div>
  {% comment %} code for the booked book  {% endcomment %}
  <div class="container py-3" id="booked-book-container">
    <table id="booked-data-table" class="py-3 data-table">
      <thead>
          <tr>
              <th>Title</th>
              <th>Seller</th>
              <th>Contact No</th>
              <th>location</th>
              <th>Price</th>
              <th>Booked Status</th>
              <th>Contact Seller</th>
          </tr>
      </thead>
      <tbody></tbody>
  </table>
  </div>


  {% comment %} code for the booked book  {% endcomment %}
  <div class="container py-3" id="sold-books-container">
    <table id="sold-data-table" class="py-3 data-table">
      <thead>
          <tr>
              <th>Title</th>
              <th>Posted Duration</th>
              <th>Selling Price</th>
              <th>Buyer Name</th>
          </tr>
      </thead>
      <tbody></tbody>
  </table>
  </div>

  <!-- popup section -->
  <section>
    <div class="popup-wrapper">
      <div class="popup">
        <div class="close fw-bold fs-4">
          x
        </div>
        <div class="popup-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptates magni doloribus adipisci earum,
          facilis odio officiis voluptatem delectus illum, inventore qui eum consequatur, incidunt a atqu
            <input type="checkbox" id="checkbox">
            <label for="checkbox">I agree to the terms and cot</label>
            <button class="submit-btn rounded-3" disabled
            >Submit</button>
        </div>
      </div>
    </div>
  </section>

  {% comment %} popup section for the profile picture change  {% endcomment %}

  <section>

    <div class="edit-profile-popup-wrapper">
      <div class="edit-profile-popup">
        <div class="edit-profile-close fw-bold fs-4">
          x
        </div>
        <div class="edit-profile-popup-content">
          <div class=" user-photo-container bg-white text-dark shadow shadow-2" >
            <div class="user-photo  ">
              {% if userdata %}
               {% for userdata in userdata %}
                <img src="{{ userdata.Profile_photo.url }}"  alt="" >
                {% endfor %}
                 {% endif  %}
            </div> 
          </div>
            <button class="edit-profile-submit-btn rounded-3" 
            >Upload Image</button>
        </div>
      </div>
    </div>
  </section>

  {% comment %} code for the chat bot {% endcomment %}
<section>
  <div class="container" >
  <div class="chat-container " id="chat-container" >
        <div class="chat-content p-2">
            <div class="row">

                <div class="col-md-6">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, modi.
                </div>
                <div class="col-md-6">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus perferendis facere quibusdam ex,
                    maiores sapiente? Consequatur numquam reiciendis commodi magni, rem, ut deleniti aperiam
                    repellendus quos quidem praesentium cumque at!
                </div>
            </div>
            <div class="write-message ms-2" >
                <form >
                  {% csrf_token %}
                    <textarea name="message" id="message" cols="30" rows="2"  >
                    </textarea>
                    <button type="submit" class="btn bg-success" id="message-send-button">sent</button>
                  </form>
            </div>
        </div>
    </div>
    
</div>
</section>






{%  if userdata %}
{% for userdata in userdata %} 
<script>
  var profileMap = L.map("profile-map").setView([28.26689, 83.96851], 13);
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
    '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(profileMap);
  
     document.getElementById("id_Name").value = "{{ userdata.Name }}"
     document.getElementById("id_Phone_Number").value = {{ userdata.Phone_Number }} 
     document.getElementById("id_Address").value = "{{ userdata.Address }}"
     document.getElementById("id_latitude").value = {{ userdata.latitude }}
     document.getElementById("id_longitude").value = {{userdata.longitude}}
      var latitude={{userdata.latitude}}
      var longitude={{userdata.longitude}}
      var marker = new L.marker([latitude, longitude]).addTo(profileMap);

profileMap.on ("click", async function (e) {
 if(marker !== null)
 {
   profileMap.removeLayer(marker);
 }
    marker = new L.marker([e.latlng.lat, e.latlng.lng]).addTo(profileMap);
  async function getAddressFromCoordinates(lat, lng) {
   var url = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lng}`;
   try {
     const response = await fetch(url);
     const data =  await response.json();
     const address = data.display_name;
     return address;
   } catch (error) {
     console.error("Error:", error);
     return null; // Return a default value or handle the error in your specific way
   }
 }
 
 var lat = document.getElementById("id_latitude");
 lat.value = e.latlng.lat;
 var lng = document.getElementById("id_longitude");
 lng.value = e.latlng.lng;
 const address= await getAddressFromCoordinates(e.latlng.lat, e.latlng.lng)
 var trimmedData = address.substring(0, address.lastIndexOf(",")).trim();
   var trimmedData = trimmedData
     .substring(0, trimmedData.lastIndexOf(","))
     .trim();
   var trimmedData = trimmedData
     .substring(0, trimmedData.lastIndexOf(","))
     .trim();

 var Address = document.getElementById("id_Address").value=trimmedData;
});
</script>
      {% endfor %}
      {%  else %}
      <script>
        var profileMap = L.map("profile-map").setView([28.26689, 83.96851], 13);
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
    '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(profileMap);
        var marker = null;
        profileMap.on ("click", async function (e) {
         
        if(marker !== null)
        {
          profileMap.removeLayer(marker);
        }
        marker = new L.marker([e.latlng.lat, e.latlng.lng]).addTo(profileMap);
        async function getAddressFromCoordinates(lat, lng) {
           var url = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lng}`;
           try {
             const response = await fetch(url);
            const data =  await response.json();
            const address = data.display_name;
            return address;
          } catch (error) {
            console.error("Error:", error);
            return null; // Return a default value or handle the error in your specific way
          }
        }
        
        var lat = document.getElementById("id_latitude");
        lat.value = e.latlng.lat;
        var lng = document.getElementById("id_longitude");
        lng.value = e.latlng.lng;
        const address= await getAddressFromCoordinates(e.latlng.lat, e.latlng.lng)
        var trimmedData = address.substring(0, address.lastIndexOf(",")).trim();
        var trimmedData = trimmedData
        .substring(0, trimmedData.lastIndexOf(","))
        .trim();
        var trimmedData = trimmedData
        .substring(0, trimmedData.lastIndexOf(","))
        .trim();
        
        var Address = document.getElementById("id_Address").value=trimmedData;
      });
      
        
      </script>
      {% endif %}
    

     {% block javascript %}
     <script type="module" src="{% static 'userapp/js/profile.js'%}"></script>
     <script type="module" src="{% static 'chatapp/js/chatapp.js'%}"></script>
{% endblock javascript%}
  {% endblock content %}

 